.pic-and-links
{
    display: flex;
    flex-direction: column;
}

.links
{
    width: fit-content;
    height: fit-content;
    display: flex;
}

.social-link
{
    height: 8vh;
    object-fit: cover;
    margin: 1vh;
}

.image
{
    height: inherit;
    background-color: #FAF5E9;
}

.landing
{
    background-image: url(./background.jpg);
    background-size: cover;
    width: 100%;
    position: absolute;
    height: 80vh;
    filter: brightness(75%);
}

.name-and-button
{
    align-items: center;
    position: relative;
    height: inherit;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.landing-container
{
    height: 80vh;
}

.about-me-button
{
    margin: 2vh;
    border-radius: 25px;
    width: fit-content;
    font-size: 20px;
    height: 7vh;
    background-color: #fc0;
    border-color: #fc0;
    color: #1f1f1f;
}

.about-me-button-text
{
    margin: .5vh;
}

.btn-primary:hover
{
    color: #1f1f1f;
    background: #ffe270;
    border: 2px solid #ffe270;
}

.header
{
    background-color: #1f1f1f;
    justify-content: right;
    display: flex;
}

.name
{
    display: flex;
    color: #fc0;
    justify-content: center;
    z-index: 2;
    width: 100%;
    font-size: 80px;
    line-height: 60px;
    font-weight: 900;
    font-family: Value-Serif-Bold, Halant, Vollkorn, Georgia, sans-serif;
}