.bounce
{
    transition: 0.2s;
}

.bounce:hover
{
    margin-bottom: 1vh;
}

.header-link
{
    z-index: 99;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link:hover
{
    color: #bb9a5b;
}

.header-link-container
{
    padding: 2vh 2vw;
    gap: 3vw;
    justify-content: center;
    align-items: center;
    display: flex;
    right: 6vw;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 700;
    color: #a5a4a1;
}

.btn-primary:hover
{
    color: #1f1f1f;
    background: #ffe270;
    border: 2px solid #ffe270;
}

.header
{
    background-color: #1f1f1f;
    justify-content: space-between;
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 99;
    height: var(--header-height);
}

.footer
{
    background-color: #1f1f1f;
    height: 5vh;
    position: relative;
}

.dialog-holder
{
    position: relative;
}

.button-container
{
    position: relative;
    height: 5vh;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding: 5vh;
}

.tech-scroll
{
    color: #fc0;
    align-items: center;
    overflow-y: scroll;
    max-width: 100%;
    overflow-x: hidden;
    padding: 1vh;
}

.tech-stack-holder
{}

:root
{
    --header-height: 10vh;
}

.dialog-box-background
{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.dialog-box
{
    z-index: 99;
    cursor: pointer;
    position: absolute;
    height: fit-content;
    width: fit-content;
    transition: opacity .5s;
}

.fade-out
{
    opacity: 0;
}

.dialog-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 65px;
    border-radius: 8px;
    background-color: white;
    padding: 1vh;
}

@media (max-width: 480px)
{
    .header-link-container
    {
        font-size: 16px;
    }

    :root
    {
        --header-height: 7vh;
    }

    .image
    {
        height: 5vh;
    }

}