.pic-and-links
{
    display: flex;
    flex-direction: column;
}

body
{
    display: flex;
    flex-direction: column;
}

.scrollbar
{
    width: 100%;
    color: #fc0;
    align-items: center;
    overflow-y: scroll;
    display: flex;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    flex-direction: column;
    padding: 5vh;
}

.scrollbar::-webkit-scrollbar
{
    width: .5vh;
    border-radius: .5vh;
}

.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: .5vh;
    background-color: #fc0;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.links
{
    width: fit-content;
    height: fit-content;
    display: flex;
}

.social-link
{
    height: 8vh;
    object-fit: cover;
    margin: 1vh;
}

.image
{
    height: inherit;
    background-color: #FAF5E9;
}

.landing
{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    position: absolute;
    height: 100%;
    filter: brightness(75%);
}

.name-and-button
{
    align-items: center;
    position: relative;
    height: inherit;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.landing-container
{
    height: 100vh;
}

.about-me-body
{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    width: 65%;
    background-color: #394357;
    /* /* margin-top: 10vh; */
    padding: 5vh;
}

.about-me-button
{
    margin: 1vh 0;
    border-radius: 25px;
    width: fit-content;
    font-size: 20px;
    background-color: #fc0;
    border-color: #fc0;
    color: #1f1f1f;
}

.about-me-button:not(:disabled):not(:disabled):active
{
    background-color: #fc0;
    border-color: #fc0;
    outline: none !important;
    box-shadow: none;
}

.about-me-button:focus
{
    background-color: #fc0;
    border-color: #fc0;
    outline: none !important;
    box-shadow: none !important;
}

.about-me-header
{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: 700;
    height: 8vh !important;
    color: #ffe990;
    width: 100%;
}

.about-me
{
    flex-direction: column;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #445372;
    height: 50vh;
    /* margin-top: 10vh; */
    padding: 5vh;
}

.about-me-button-text
{
    margin: .5vh;
}

.about-me-headshot
{
    height: 25vh;
    width: 25vh;
}

.about-me-text
{
    color: #FFCC4F;
    font-weight: 700;
    padding: 6vh;
    padding-top: 0vh;
    padding-bottom: 2vh;
}



.project-page
{
    flex-direction: column;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #445372;
    height: fit-content;
    padding: 5vh;
    gap: 6vh;
}

.project-container
{
    width: 65%;
    height: fit-content;
    padding: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    background-color: rgb(57, 67, 87);
}

.title
{
    color: #fc0;
    font-weight: 700;
    font-size: xx-large;
    cursor: pointer;
    /* margin-bottom: 3vh; */
}

a:link,
a:visited,
.title
{
    color: #fc0;
    text-decoration: none;
    cursor: pointer;
}

a:link:active,
a:visited:active,
.title
{
    color: #fc0;
}

.scroll
{
    justify-content: center;
    height: 100%;
    align-items: center;
    display: flex;
    width: 7.5%;
}

.scroll-img
{
    cursor: pointer;
    height: 8vh;
    width: 8vh;
    filter: brightness(75%);
}

.name
{
    display: flex;
    color: #fc0;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    width: 100%;
    font-size: 80px;
    line-height: 60px;
    font-weight: 900;
    font-family: Value-Serif-Bold, Halant, Vollkorn, Georgia, sans-serif;
}

.image-container
{
    width: 85%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.current-image
{
    width: 30vh;
    height: 30vh;
    object-fit: contain;
}

.sliding-media
{
    display: flex;
    height: 30vh;
    width: fit-content;
    /* margin-bottom: 5vh; */
}

.about-me-body-container
{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 3vh;
}

.project-scroll
{
    max-height: 30vh;
    padding: 0 !important;
}

.bio-scroll
{
    height: 30vh;
    padding: 0 !important;
}

.project-body
{
    display: flex;
    max-height: 35vh;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.project-entry-container
{
    display: flex;
    justify-content: left;
}

.project-button
{
    margin: 0;
    height: fit-content;
}

.link-class
{
    color: #007bff !important;
}

.certification-container
{
    width: 100%;
    display: flex;
    min-width: 35vw;
    justify-content: right;
}

.certifications
{}

.tech-stack-grid-item
{
    display: flex;
    height: 8vh;
    width: 8vh;
}

.tech-stack-grid
{
    display: none;
    transition: max-height 0.5s ease-in-out;
    gap: 20px;
    padding: 1vh;
}

.tech-stack-container
{
    color: #fc0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 480px)
{
    .tech-stack-grid
    {
        gap: 15px;
    }

    .tech-stack-grid-item
    {
        height: 6vh;
        width: 6vh;
    }

    .project-body
    {
        flex-direction: column !important;
        gap: 2vh;
    }

    .project-entry-container
    {
        justify-content: center !important;
    }

    .project-container
    {
        width: 90%;
    }

    .about-me-body
    {
        width: 90%;
        height: 60vh;
        padding: 3vh;
    }

    .about-me-text
    {
        padding: 0;
    }

    .about-me-body-container
    {
        flex-direction: column;
        gap: 2vh;
    }

    .about-me-headshot,
    .current-image
    {
        height: 18vh;
        width: 18vh;
    }

    .sliding-media
    {
        gap: 1vh;
        height: 18vh;
        justify-content: center;
    }

    .image-container
    {
        width: fit-content;
    }

    .scroll-img
    {
        height: 4vh;
        width: 4vh;
    }

    .about-me-button
    {
        font-size: 15px;
    }

    .title
    {
        text-align: center;
    }
}