.tech-stack-grid-container
{
    display: grid;
    grid-template-columns: 1fr;
}

.tech-stack-body
{
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 0 1vh;
}

.tech-stack-header
{
    justify-content: center;
    align-items: center;
    color: #fc0;
    font-weight: 600;
    display: flex;
    width: 100%;
    height: 4vh;
    padding: 1vh;
}

.tech-stack-footer
{
    display: flex;
    width: 100%;
    height: 2vh;
}

.tech-stack
{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: rgb(57, 67, 87);
}

.tech-stack-scrollbar
{
    display: flex;
    flex-direction: column;
    height: 39vh;
    width: fit-content;
    gap: 1.5vh;
    padding: 1vh 2vh;
    background-color: #445372;
}

.tech-stack-scrollbar::-webkit-scrollbar
{
    width: .5vh;
    border-radius: .5vh;
}

.tech-stack-scrollbar::-webkit-scrollbar-thumb
{
    border-radius: .5vh;
    background-color: #fc0;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.holder
{
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: calc(var(--header-height) + 11vh);
    z-index: 2;
}

.tech-stack-holder
{
    right: 0;
}

.tech-scroll .tech-stack-grid-item
{
    height: 5vh;
    width: 5vh;
}

.selected-icon
{
    height: 1.5vh;
    position: absolute;
    right: -6px;
    bottom: -6px;
    display: flex;
}

.tech-stack-item
{
    height: fit-content;
    width: fit-content;
    display: flex;
    position: relative;
}

.table-of-contents
{
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    background-color: rgb(57, 67, 87);
}

.contents
{
    width: fit-content;
    height: fit-content;
    padding: 1vh;
    background-color: #445372;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.contents-item
{
    width: 12vw;
    color: #fc0;
}

.contents-item:hover
{

    cursor: pointer;
    text-decoration: underline;
    color: rgb(160, 142, 69);
}

.table-body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 0 1vh;
    flex-direction: column;
}

.table-header
{
    justify-content: center;
    align-items: center;
    color: #fc0;
    font-weight: 600;
    display: flex;
    width: 100%;
    height: 4vh;
    padding: 1vh;
}

.table-footer
{
    display: flex;
    width: 100%;
    height: 2vh;
}

.contents-container
{}